* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir", sans-serif;
}

body,html {
    height: 100%
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 60px;
    background: lawngreen;
}
.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-weight: bold;
    font-size: 3em;
}

.sidebar {
  background-color: orchid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.sidebar div {
    padding: 10px 6px;
    text-align: center;
    transition: all 0.4s;
}

.sidebar div:hover {
    background-color: royalblue;
    color: purple;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url("https://www.tes.com/sites/default/files/styles/news_article_hero/public/maths_revision.png");
    background-position: center;
    background-size: cover;
}

.footer {
    background-color: blueviolet;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 0.9s;
    color: gray;
}